<p>
  User ID is {{id}}
</p>
<div class="container card" style="width:400px;margin-top: 8%;background:burlywood">

  <div class="form-group" style="margin-top:3%">
    <input type="text" class="form-control" id="first" placeholder="First Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="last" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="phone" placeholder="Phone">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="desig" placeholder="Designation">
  </div>
  <button type="submit" class="btn btn-success" style="width:100px;margin-left:35%;margin-bottom:2%">Submit</button>


</div>