<h1>Technology</h1>
<div class="list" style="display:flexbox">

  <img src="assets/c.png" widht="30px" height="30px"><b class="text-success">C</b>
  <img src="assets/j.png" widht="30px" height="30px"><b class="text-secondary">Java</b>
  <img src="assets/and.png" widht="30px" height="30px"><b class="text-info">Android</b>
  <img src="assets/h.png" widht="30px" height="30px"><b class="text-warning">HTML</b>
  <img src="assets/css.png" widht="30px" height="30px"><b class="text-primary">CSS</b>
  <img src="assets/js.png" widht="30px" height="30px"><b class="text-danger">Javascript</b>

  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width:20%">60%</div>
    <div class="progress-bar bg-secondary" role="progressbar" style="width: 20%">70%</div>
    <div class="progress-bar bg-info" role="progressbar" style="width:20%">60%</div>
    <div class="progress-bar bg-warning" role="progressbar" style="width:30%">80%</div>
    <div class="progress-bar bg-primary" role="progressbar" style="width:15%">80%</div>
    <div class="progress-bar bg-danger" role="progressbar" style="width:25%">70%</div>

  </div>

</div>