<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let header of tableHeader">{{header}}</th>
      <!-- <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Designation</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of data; let i=index;">
      <td>{{i+1}}</td>
      <td *ngFor="let key of getKeys()">{{user[key]}}</td>
      <!-- <td>{{i+1}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.Phone}}</td>
      <td>{{user.Designation}}</td> -->
    </tr>
  </tbody>
</table>